[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible="*"
boto3="*"
botocore="*"

[dev-packages]
pytest-testinfra="*"
paramiko="*"

[requires]
python_version = "*"

[scripts]
install = "ansible-galaxy install -r requirements.yml"
deploy = "ansible-playbook playbook.yml --ask-vault-pass"
test = "bash ./infratest.sh"